form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
}
.message{
    padding: 0.8em;
    margin-top: 1em;
    color: black;
    width: fit-content;
}
button {
    background-color: black !important;
    color: #DECAC8  !important;
}
