<div class="shop">
<h1>Books</h1>
<p>“A well-composed book is a magic carpet on which we are wafted to a world that we cannot enter in any other way.”
  ― Caroline Gordon</p>
</div>

<div class="books">
    <div class="image">
        <img src="{{book.image_path}}" alt="">
    </div>
    <div class="book">
      <h2>{{book.name}}</h2>
      <button mat-button class="delete"  *ngIf="admins.includes(userService['user']['role'])" on-click="deleteBook(book)"><mat-icon>delete</mat-icon></button>  
   

      <p>{{book.Author.name}}</p>
      <p>{{book.resume}}</p>
      
      <p>${{book.price}}</p>
      <button mat-button routerLink="/login">Add to cart</button>      
    </div>
  

  </div>

  


  
<div class="reviewsTittle">
<h1>Reviews:</h1>
  
<div class="reviewsContainer">

<div class="reviews"  *ngFor="let review of book.Reviews">
<h3>{{review.User.name}} said:</h3>
 <h4> {{review.review}}</h4>
 <h5>Created at: {{review.createdAt}}</h5>
 <h5>Updated at: {{review.updatedAt}}</h5>
</div>
</div>

<div class="write">
 
Write a review:
<form #reviewForm="ngForm" (submit)="postReview(reviewForm)"> 
  
  <mat-form-field>
    <mat-label for="review">Review</mat-label>
    <input matInput name="review" #review="ngModel" id="review" [(ngModel)]= "input" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" >Send</button>
</form>
</div>
</div>
