
.shop {
    height: 30em;
    background-color: rgb(245, 242, 237);
    background-image: url(https://data.whicdn.com/images/219406740/original.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: 'Crimson Text', serif !important;
        font-size: 6em;
        padding: 0.5em;
    }
}

.books {
 display: flex;
 padding: 5em; 
 display: flex;
 
 
}
img {
    height: 25em;
}
.book {
    padding: 5em;
    
    
}
.reviewsTitle {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    text-decoration: underline;
}
h3 {
    text-decoration: underline;
 
}
.reviews {
    margin: 2em;
    border-left: black 2px solid;
    background-color: rgba(8, 7, 7, 0.041);
    h5 {
        
        text-align: end;
    }
    padding: 0.5em;
    border-radius: 0.2em;
}
.delete {
    margin-bottom: 2em;
}
.write {
    text-align: center;
    margin-bottom: 5em;
}
button {
    background-color:black !important ;
    color: #DECAC8 !important;
    margin: 2em;
   
}