/* You can add global styles to this file, and also import other style files */

html, body { height: 100% !important;
margin:0 !important;
padding: 0 !important;
}
body {
    min-height: 100% !important;
   color:black;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
